.category-aside {
    width: 100%;
    min-height: 77vh;
    box-shadow: 0 12px 12px 0 hsl(0deg 0% 71% / 11%);
    border: 1px solid #dedede;
    border-radius: 8px;
  }
  .active-category {
      background-color: rgb(240, 255, 244) !important;
  }
  .btn-toggle {
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
    background-color: transparent;
    border: 0;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .sub-category{
      margin-left: 1.75rem !important;
  }